<div class="container mt-5">
  <h2 class="mb-4 text-warning">Create a New Hearthstone Post</h2>
  <form class="new-hearthstone-post-form">
    <div class="mb-3">
      <label for="title-new-hearthstone-post" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        id="title-new-hearthstone-post"
        placeholder="Enter Title"
      />
    </div>
    <div class="mb-3">
      <label for="content-new-hearthstone-post" class="form-label">Content</label>
      <textarea
        class="form-control"
        id="content-new-hearthstone-post"
        rows="5"
        placeholder="Enter Content"
      ></textarea>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Create Post</button>
    </div>
  </form>
</div>